
  .content {
    text-align: center;
  }
  
  h1, p {
    font-size: 1.5em;
    color: #333;
    margin: 0.5em;
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
  
  p {
    font-size: 1.2em;
  }
  